body, html {
    height: 100%;
	margin: 0;
	background-image: url('../../assets/background-image.jpg');
	background-size: cover;
	background-position: center;
    font-family: "Avenir Next","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;

    a {
    	color: black;
    }
}