@import 'bourbon';
@import 'neat';

.home {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 20em;

	.img-wrapper {
		text-align: center;
	}
}

.home-after {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	.search-wrapper {
		display: flex !important;
		flex-direction: row;
		justify-content: flex-start;
		align-self: center;
		width: 60em;
		height: 5em;
		display: inline;
		.logo-small {
			width: 8em;
			align-self: center;
		}

		.input-wrapper {
			width: 52em;
			align-self: center;
		}
	}

	.search-options-list {
		background-color: white;
		align-self: center;
		width: 57.8em;
		margin-left: 2.2em;
		max-height: 30em;
		overflow: auto;

		.search-option {
			padding: 0.8em;
			border-bottom: 1px solid #D1D1D1;

			.logo {
				max-height: 2em;
				border-right: 1px solid #D1D1D1;
				padding-right: 1em;
			}

			.user-name {
				padding-left: 1em;
			}
		}

		.options-list-border {
			height: 1.5em;
			background-color: #D1D1D1;
			background-opacity: 0.6;
			padding-left: 0.2em;
		}

		.search-option-msg {
			padding: 0.5em;
		}
	}

}