.result-container {
	margin-top: 2em;
	margin: auto;
	border-radius: 1%;
	padding: 2em;
	height: 40em;
	width: 40em;
	background-color: white;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	display: flex;
	flex-direction: column;

	.banner-row {
		align-self: center;
		.banner {
			height: 15em;
		}
	}

	.logo-row {
		margin: 0.5em 0;
		.phone-number {
			float: right;
			margin-top: 2em;
		}
	}

	.name {
		margin-top: 0.2em;
		margin-left: 0.2em;
		border-bottom: 1px solid #D1D1D1;
	}

	.properties-list {
		li {
			padding: 0.1em 0;
		}
	}
}