@import 'bourbon';
@import 'neat';

.search-bar {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	.search-wrapper {
		display: flex !important;
		flex-direction: row;
		justify-content: flex-start;
		align-self: center;
		width: 60em;
		height: 5em;
		display: inline;
		.logo-small {
			width: 8em;
			align-self: center;
		}

		.input-wrapper {
			width: 53.2em;
			margin-right: 1.2em;
			align-self: center;
		}
	}

	.search-options-list {
		background-color: white;
		width: 57.8em;
		max-height: 30em;
		overflow: auto;
		position: absolute;
		margin: auto;
  		left: 0; right: 0; top: 5em;

		.search-option {
			padding: 0.8em;
			border-bottom: 1px solid #D1D1D1;

			.logo {
				max-height: 2em;
				border-right: 1px solid #D1D1D1;
				padding-right: 1em;
			}

			.user-name {
				padding-left: 1em;
			}
		}

		.options-list-border {
			height: 1.5em;
			background-color: #D1D1D1;
			background-opacity: 0.6;
			padding-left: 0.2em;
		}
		.search-option-msg {
			padding: 0.5em;
		}
	}

}